PORT=3001

# Shopify
SHOPIFY_STORE_URL=french-bandit.myshopify.com
SHOPIFY_ACCESS_TOKEN=shpat_xxxxx

# Meta (Facebook) Ads
META_ACCESS_TOKEN=your_meta_access_token
META_AD_ACCOUNT_ID=act_xxxxx

# Google Ads
GOOGLE_ADS_CLIENT_ID=xxxxx.apps.googleusercontent.com
GOOGLE_ADS_CLIENT_SECRET=xxxxx
GOOGLE_ADS_REFRESH_TOKEN=xxxxx
GOOGLE_ADS_DEVELOPER_TOKEN=xxxxx
GOOGLE_ADS_CUSTOMER_ID=xxx-xxx-xxxx

# TikTok Ads
TIKTOK_ACCESS_TOKEN=your_tiktok_access_token
TIKTOK_ADVERTISER_ID=xxxxx
